.myPres {
    margin: auto;
    width: fit-content;
    max-width: 50%;
    /* height: calc(100% - var(--nav-height)); */
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    margin: 0;
    font-size: 40px;
}

.myPresSpanP {
    font-size: 32px;
}