.ticketContainer {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, auto);
    margin: 30px;
}

.ticketProject {
    /* max-width: 300px; */
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
}

.ticketProject>div:not(:last-child) {
    margin-bottom: 20px;
}

h1.ticket_project {
    font-size: 20px;
}

h2.ticket_project {
    font-size: 13px;
    margin: 0;
    color: gray;
}

.ticket_project_bottom {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 992px) {
    .ticketContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 1550px) {
    .ticketContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1350px) {
    .ticketContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 992px) {
    .ticketContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 700px) {
    .ticketContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}